body {
  font-family: "Montserrat", sans-serif;
  padding: 3em;
  background: rgb(15 23 42);
  color: white;
}

:root {
  --work-background-color: hsl(15, 100%, 70%);
  --play-background-color: hsl(195, 74%, 62%);
  --study-background-color: hsl(348, 100%, 68%);
  --exercise-background-color: hsl(145, 58%, 55%);
  --social-background-color: hsl(264, 64%, 52%);
  --self-care-background-color: hsl(43, 84%, 65%);
}

.container {
  display: grid;
  grid-template-areas:
    "profile task-board task-board task-board"
    "profile task-board task-board task-board";
  border-radius: 10px;
  max-width: 990px;
  margin: auto;
}

.profile-container {
  max-width: 200px;
  grid-area: profile;
  display: flex;
  flex-direction: column;
  margin: 1em;
  background: #1e1f4d;
  border-radius: 10px;
  justify-self: right;
}

.profile {
  background: #594ee4;
  border-radius: 10px;
  padding: 1em;
}

.avatar {
  width: 80px;
  height: 80px;
  border: solid white 1px;
  border-radius: 50%;
}

.avatar > img {
  width: -webkit-fill-available;
}

.profileName {
  display: "flex";
  flex-direction: "column";
  margin-top: 2.5em;
  font-weight: lighter;
  font-size: smaller;
}

.profileName > h1 {
  margin-top: 0.5;
  font-weight: 200;
}

.time-frames {
  display: flex;
  flex-direction: column;
  grid-area: time-frame;
  background: #1e1f4d;
  border-radius: 10px;
  padding-left: 1em;
  margin: 1em 0;
  line-height: 2.5em;
  justify-content: space-around;
}

a {
  cursor: pointer;
}

a::first-letter {
  text-transform: capitalize;
}

.selected {
  opacity: 1;
}

.non-selected {
  opacity: 0.3;
}

.task-board {
  display: grid;
  gap: 1em;
  grid-area: task-board;
  background: purple;
}

.card-container {
  max-width: 220px;
  margin: 1em;
  background-repeat: no-repeat;
  border-radius: 11px;
}

.card-content {
  background: #1e1f4d;
  padding: 1em;
  margin-top: 2em;
  line-height: 1.5;
  border-radius: 10px;
  box-shadow: 0 0 15px #1e1f4d;
}

#work {
  background-color: var(--work-background-color);
  background-image: url(/public/images/icon-work.svg);
  background-position: 90% -12%;
}

#play {
  background-color: var(--play-background-color);
  background-image: url(/public/images/icon-play.svg);
  background-position: 90% -12%;
}

#study {
  background-color: var(--study-background-color);
  background-image: url(/public/images/icon-study.svg);
  background-position: 90% -12%;
}

#exercise {
  background-color: var(--exercise-background-color);
  background-image: url(/public/images/icon-exercise.svg);
  background-position: 90% -12%;
}

#social {
  background-color: var(--social-background-color);
  background-image: url(/public/images/icon-social.svg);
  background-position: 90% -12%;
}

#self-care {
  background-color: var(--self-care-background-color);
  background-image: url(/public/images/icon-self-care.svg);
  background-position: 90% -12%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-size: large;
}

.card-header>img {
    vertical-align: middle;
}

.card-body {
  margin-top: 1em;
}

.current-hours {
  font-size: 3em;
}

.previous-hours {
  font-weight: lighter;
}

/* When the browser is at least 600px and above */
@media screen and (max-width: 960px) {
  body {
    padding: 0;
  }
  .container {
    padding: 1em;
    grid-template-areas:
      "profile"
      "task-board";
  }
  .profile-container {
    min-width: -webkit-fill-available;
  }
  .card-container {
    max-width: 100%;
  }
  .time-frames {
    flex-direction: row;
}
}
